<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Whenever I'm mentally and psychologically challenged, I tell myself. </p>
    > <p>Even if the temperature reaches 99 degrees Celsius, the water will not boil unless the temperature reaches its final degree.</p>
    > <p><b> The last degree of boiling water. Let's hold up the last degree I want to give up.</b></p>
    <p> This is what Kim Yu-na thought of herself when she was training herself. </p>
    <p><b>I'm gonna be a nice and cool woman. </b></p> :sparkling_heart:
    
    <a href="#" target="_blank"></a>
</div><!--//summary-->
</section><!--//section-->
