<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Whenever I'm mentally and psychologically challenged, I tell myself. </p>
    <br>
  <div class="say" style="background-color: #f5f5dc">
    <p>Even if the temperature reaches 99 degrees Celsius, the water will not boil unless the temperature reaches its final degree.</p>
    <p><b> The last degree of boiling water. Let's hold up the last degree I want to give up.</b></p>
  </div>
    <br>
    <p> This is what Kim Yu-na thought of herself when she was training herself. </p>
    <p><b>I'm gonna be a nice and cool woman. <img src="{{site.baseurl}}/assets/images/sparkling_heart.png" width="16"/></b></p>

    <a href="#" target="_blank"></a>
</div><!--//summary-->
</section><!--//section-->
