<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-globe"></i>Visited Countries</h2>
  <!-- <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div> -->
  <div class="country">
    <div class="item">
      <div class="upper-row">
        <h3 class="job-title">Overseas Trip <i class="fa fa-heart-o"></i></h3><br>
      </div>
      <div class="upper-row">
        <p><span class="project-tagline">
                       <img src="{{site.baseurl}}/assets/images/ph.png" width="18"/> Philippine (Travel)</span>
          <div class="time">2019</div>
          &nbsp;&nbsp;&nbsp;&nbsp; - Boracay (2019) </p>
      </div>
      <div class="upper-row">
        <p><span class="project-tagline">
                       <img src="{{site.baseurl}}/assets/images/vn.png" width="18"/> Vietnam (Travel)</span>
          <div class="time">2019</div>
          &nbsp;&nbsp;&nbsp;&nbsp; - Ho Chi Minh (2019) <br> &nbsp;&nbsp;&nbsp;&nbsp; - Mui Ne (2019) </p>
      </div>
      <div class="upper-row">
        <p><span class="project-tagline">
                       <img src="{{site.baseurl}}/assets/images/us.png" width="18"/> United States (Travel)</span>
          <div class="time">2017</div>
          &nbsp;&nbsp;&nbsp;&nbsp; - Chicago (2017) </p>
      </div>
      <div class="upper-row">
        <p><span class="project-tagline">
                       <img src="{{site.baseurl}}/assets/images/jp.png" width="18"/> Japan (Travel)</span>
          <div class="time">2017</div>
          &nbsp;&nbsp;&nbsp;&nbsp; - Hokkaido (2017) <br> &nbsp;&nbsp;&nbsp;&nbsp; - Fukuoka (2017) <br> &nbsp;&nbsp;&nbsp;&nbsp; - Osaka (2017)</p>
      </div>
      <div class="upper-row">
        <p><span class="project-tagline">
                         <img src="{{site.baseurl}}/assets/images/sg.png" width="18"/> Singapore (Intern &amp; Travel)</span>
          <div class="time">2017</div>
        </p>
      </div>
      <div class="upper-row">
        <p><span class="project-tagline">
                         <img src="{{site.baseurl}}/assets/images/ch.png" width="18"/> China (Travel)</span>
          <div class="time">2007</div>
        </p>
      </div>
    </div>
  </div>
  <!--//item-->
  <br>
</section>
<!--//section-->
