 <div class="education-container container-block">
  <h2 class="container-block-title"><i class="fa fa-graduation-cap"></i> Education</h2>
<div class="item">
    <h4 class="degree">BSc in Computer Science</h4>
    <h5 class="meta">Gachon University</h5>
    <div class="time">2014 - 2018<br>Seongnam, Korea</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Natural Sciences</h4>
    <h5 class="meta">Hyowon High School</h5>
    <div class="time">2011 - 2014<br>Suwon, Korea</div>
</div><!--//item-->
</div><!--//education-container-->
