<section class="section experiences-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Nanyang Technological University(NTU)</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">University, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The Nanyang Technological University (Abbreviation: <a href = "https://www.ntu.edu.sg/" target="_blank">NTU</a>) is an autonomous university in Singapore. </p>
                        <p>I had an internship abroad in the winter of 2017. I carried out a project called ' <a href = "https://github.com/baesomi/Smihealing" target="_blank">Smahealing</a> ' here. </p>
                    </div><!--//details-->
                </div><!--//item-->


</section><!--//section-->
