<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>This section lists my projects and open source libraries. I hope the codes here will help you. </p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/Gachon-SLB">Gachon SLB</a></span>
                     - <span class="project-tagline">
                       In this project, <b>attendance checks based BLE(Bluetooth Low Energy) were implemented using Raspberry Pi</b>. This technology reduces power consumption compared to Bluetooth, but it is often unreliable because the classroom size is limited by the low power characteristics. The problem was resolved by implementing a <b>relay attendance check method</b> to check the attendance reliably at the entire extent of the lecture.
Supplementary features provide location-based services such as <i>finding the classroom, finding my friends, and receiving school shuttle bus guidance.</i>
                    </span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/baesomi/Smihealing" target="_blank">Smihealing</a></span> -
                    <span class="project-tagline">The application is based on studies that have shown that laughter is effective in relieving stress. It provides the healing message to user according to recognized results that is user age, happiness, and smile. In addition, it maximizes the effectiveness of treatment by presenting tips in life and wise sayings. This study can be used as a therapy for future depression patients. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ProjectName</a></span> -
                    <span class="project-tagline">description</span>
                </div><!--//item-->
            </section><!--//section-->
