<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/Gachon-SLB">Gachon SLB</a></span>
                     - <span class="project-tagline">
                       In this project, <b>attendance checks based BLE(Bluetooth Low Energy) were implemented using Raspberry Pi</b>. This technology reduces power consumption compared to Bluetooth, but it is often unreliable because the classroom size is limited by the low power characteristics. The problem was resolved by implementing a <b>relay attendance check method</b> to check the attendance reliably at the entire extent of the lecture.
Supplementary features provide location-based services such as <i>finding the classroom, finding my friends, and receiving school shuttle bus guidance.</i>
                    </span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">DevStudio</a></span> -
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
