.expContents {
  padding: 10px;
  margin: 20px;
}

.title {
  font-size: 30px;
  margin-left: 20px;
  color: #f76707;
  font-family: "pureun_bold";
  // text-shadow: 1px 1px 5px #f76707;
}

.upper-row {
  position: relative;
  // overflow: hidden;
  // margin-bottom: 2px;
}
.upper-row .job-title {
  color: #3f4650;
  font-size: 24px;
  // display: inline;
}
.upper-row .time {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  color: #97aac3;
  display: inline;
}
.upper-row .exp-type {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  color: #97aac3;
  display: inline;
  margin-right: 150px;
}
