ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
ul li p {
  padding: 20px;
  display: block;
  cursor: pointer;
}

.aboutme {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.experience {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.projects {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.skills {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.photo {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
