p {
  padding: 20px;
  display: block;
  cursor: pointer;
}

.aboutme {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.experience {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.projects {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.skills {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.certificate {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
.photo {
  color: #f76707;
  font-weight: bold;
  text-decoration: underline;
}
