.photo-sub {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  color: #fab005;
  text-align: center;
}
.title {
  font-size: 30px;
  margin-left: 20px;
  color: #f76707;
  font-family: "pureun_bold";
  // text-shadow: 1px 1px 5px #f76707;
}
.photoContents {
  padding: 10px 0px;
  margin: 20px auto;
}
.photoContents > tbody > tr > td > img {
  width: 430px;
}
